html
  height: 100%

body
  //background-image: url("images/background.png");
  padding-bottom: 100px
  padding-top: 80px
  height: 100%

  >.row
    max-width: 970px
    height: 100%
    
    
.title
  line-height: 20px
  margin-bottom: 10px

.well.small
  padding: 7px 15px
  .nav-list
    padding: 0px

a
  i
    padding-right: 4px

.clientes
  min-height: 100%
  overflow-y: scroll
  overflow-x: hidden
  .clientes_list
    margin-top: 10px
    padding-left: 0px
    li
      cursor: pointer
      &.active
        a
          background-color: #08C
          color: #fff
      a
        text-transform: capitalize
  
.btn-group.inline
  display: inline-block

.table-contable
  thead>tr>th
    text-align: center
  tr
    td
      text-align: center
    td:first-child
      text-align: left
    td:last-child
      text-align: right
      
