html {
  height: 100%;
}


@bodyMarginTop: 75px;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: @bodyMarginTop;
  &.noScroll{
    //overflow: hidden; 
    //height: 100%;
  }
}

.container{
  max-width: 940px;
}

.app{
  padding-bottom: 100px;
}

a {
  cursor: pointer;
}

input.span1{
  width: 50px;
}

.validatable{
  width: 90%;
}

.popover{
  hr{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  table{
    font-size: 11px;
  }
}


.inline{
  display: inline;
}

h5.preHeader {
  color: #333;
  font-size: 17px;
  line-height: 12px;
}

.well{
  margin-top: 10px;
}

.hero-unit{
  .box-shadow(0 1px 5px #999);
}

.table-total{
  width: 200px;
  float: right;
}

table{
  input{
    margin-bottom: 0px;
  }
  tr.hidden{
    display: none;
  }
}

.pedidos{
  .well{
    background-color: #fff;
    border: 1px solid #D5D5D5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-image: initial;
    
  }
  .list_item{
    opacity: 0.5;
    &.active{
      opacity: 1;
    }
  }
}

.pagos{
  .pago{
    opacity: 0.5;
    &.active{
      opacity: 1;
    }
  }
}

td.center{
  text-align: center;
}

.widgetHeader{
  h1{
    position: relative;
    top: 3px;
    left: 10px;
    display: inline-block;
    margin-right: 3em;
    font-size: 20px;
    font-weight: 800;
    color: #555;
    line-height: 20px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, .5);
  }
  
  .rightOptions{
    position: relative;
    top: 0px;
    right: 10px;
    text-align: right;
    
    input{
      margin-bottom: 0px;
    }
  }

  margin-top: 15px;
  position: relative;
  height: 40px;
  line-height: 40px;
  background-image: url("/images/furley_bg.png");

  border: 1px solid #D5D5D5;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-background-clip: padding-box;
  border-image: initial;
}


.widgetHeader + .well{
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #fff;
  padding: 20px 15px 15px;
  background: white;
  border: 1px solid #D5D5D5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 0px 5px 5px 0px;
  border-image: initial;
}


