@import "./bootstrap/bootstrap.less";
@import "./components/lightbox.less";
@import "./components/popupSelect.less";
@import "./components/menu.less";
@import "./components/notificaciones.less";
@import "./components/header.less";
@import "./components/footer.less";
@import "./components/productos.less";
@import "./components/actionFooter.less";
@import "./components/datePicker.less";
@import "./components/printHeader.less";
@import "./components/print.less";
@import "./components/mobileList.less";
@import "./components/smartProductos.less";
@import "./components/clientes.less";
@import "./general.less";
@import "./responsive.less";

body{
  .container{
    max-width: 980px;
  }
}

*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media (max-width: 979px) {


  header{
    .navbar-fixed-top{
      margin-bottom: 10px;
    }
  
    .productIcon{
      display: none;
    }
  
  }
  

  .productosToolbar{
    position: static;
    max-height: 390px;
  }

  .appCanvas{
    margin-top: 0px;
  }

}










