script(type='text/javascript', charset='utf-8')
  var jQuery  = require("jqueryify");
  var exports = this;
  jQuery(function(){
    var App = require("index");
    var instance_url = "https://cs11.salesforce.com";
    exports.app =  new App({ el: $(".appCanvas") , options: { salesforceSession: null } });
  });
  
header

.appCanvas.container-fluid

.lightboxCanvas

