  
header

.productosToolbar.hide_on_print

.appCanvas.container
  .progress.progress-striped.loader.active
    .bar(style="width: 100%;margin-top: 150px;")>UN MOMENTO, TERMINANDO DE CARGAR...

footer

.lightboxCanvas