.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .infoBar
        a.brand Rodco S.A.
      
        .visible-desktop
        
          .btn-group.pull-right.visible-desktop(style="width: 18%;margin-left: 10px")
            button.btn.btn-success.status_button.status_button_label Online
      
            button.btn.dropdown-toggle.btn-success.status_button(data-toggle="dropdown")
              span.caret
    
            ul.dropdown-menu
              li 
                a.actualizar Actualizar Ahora
              li 
                a.reset Master Reset (Cuidado)
      
          .loader.pull-right.progress.progress-striped.loader.active(style="height: 30px;width: 20%;margin-bottom: 10px;margin-top: 6px;")
            .bar(style="width: 100%;padding-top: 7px;padding-bottom: 7px;height: 30px") Cargando...
        
    