.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .row
          a.brand(href='#') Rodco S.A.
          ul.nav.hide-on-phones.pull-right
            li.btn-danger
              a(href='#',style="color: #fff") Errores

.subnav.subnav-fixed
  .container
    .row
      h5 Ahora puede chatear con nosotros