!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
  
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="en">
  
//if IE 8
  <html class="no-js lt-ie9" lang="en">
  
html(lang="en")
  
  head
    meta(charset='utf-8')
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    
    link(rel='stylesheet', href='/bootstrap.css', type='text/css', charset='utf-8')



    title Rodco S.A. || ERP
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    //link(rel='icon', type='image/ico', href='favicon.ico')

    //if lt IE 9
      <link rel="stylesheet" href="src/stylesheets/ie.css">
    
    //if lt IE 9
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  
    script(type='text/javascript', charset='utf-8')
      var frontEndServer = 'http://rodcoerp.herokuapp.com';
      //var frontEndServer = 'http://localhost:9294';

  
    script(type="text/javascript")
      //script=document.createElement('script');
      //script.src= frontEndServer + '/faye/client.js'
      //script.type = "text/javascript";
      //document.getElementsByTagName('head')[0].appendChild(script);
      //alert(script.src);

    <script src="http://rodcoerp.herokuapp.com/socket.io/socket.io.js"></script>
    
    script(src='/application.js', type='text/javascript', charset='utf-8')

    script(type='text/javascript', charset='utf-8')
      var jQuery  = require("jqueryify");
      var exports = this;
      jQuery(function(){
        var App = require("index");
        var ErrorManager = require("managers/errorManager");

        var instance_url = "https://cs11.salesforce.com";
        exports.app =  new App({ el: $(".appCanvas") , options: { salesforceSession: null , frontEndServer: frontEndServer , server: "http://api2s.heroku.com" } });

        window.onerror = function (msg, url, num) {
          ErrorManager.logError(msg) 
        }

      });

    script(type='text/javascript', charset='utf-8').
      var _kmq = _kmq || [];
      function _kms(u){
        setTimeout(function(){
        var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
        s.src = u; f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/b0b576ce3460c968aed2e8552a157956ef979f63.1.js');

  body.nice
    != body