<hr/>
#whatIdo.container
  .row
    .columns.ten.centered
      h1 What do I do?
      h6 Software related
      <br/>
      .row
        .columns.three
          .well.small
            h6.no_padding
              small 10+years experience
            h2.title Enterprise Systems
            p 
              strong Roberto is a Business IT Engineer specialized in enterprise software
            .nav.nav-list
              li.nav-header Enterprise Resources
              li 
                a.popable(href="#",rel="popover",data-content="dsd",data-original-title="Invoicing") Invoicing
              li
                a.popable(href="#",rel="popover",data-content="dsd",data-original-title="Accouting") Accouting
              li
                a.popable(href="#",rel="popover",data-content="dsd",data-original-title="Orders and Inventory")  Orders and Inventory
              li 
                a.popable(href="#",rel="popover",data-content="dsd",data-original-title="Contracts and Subscriptions")  Contracts and Subscriptions
              li.nav-header Customer Facing
              li
                a.popable(href="#",rel="popover",data-content="dsd",data-original-title="Internet Stores") Internet Stores
              li 
                a.popable(href="#",rel="popover",data-content="dsd",data-original-title="Payment Portals") Payment Portals
              li
                a.popable(href="#",rel="popover",data-content="dsd",data-original-title="Service Automation")  Service Automation
              li.nav-header Internal Applications
              li
                a.popable(href="#",rel="popover",data-content="dsd",data-original-title="On-the-road Invoicing") On-the-road Invoicing
              li
              a.popable(href="#",rel="popover",data-content="dsd",data-original-title="Mobile Business Intelligence") Mobile Business Intelligence
                  
                          
          .btn-group
            a.btn.btn-success Get More Info
            a.btn.btn-success.dropdown-toggle(data-toggle="dropdown", href="#")
              span.caret
            ul.dropdown-menu
              li
                a Lets Talk over Skype?
              li.divider
                
          h6 Price Tag: $250/hour
            
        .columns.three
          .well.small
            h6.no_padding
              small Entreprenurship
            h2.title Web ,Mobile and Social Apps
            p <strong>The hardest and most profitable task in IT</strong><em> requires creativity, intelligence and entrepreneurship.</em><br/><small>Today apps can be build !100n% faster</small>

            .nav.nav-list
              li.nav-header Building Applications
              li  
                a.popable(href="#",rel="popover",data-content="dsd",data-original-title="On-the-road Invoicing") Startup Ideas
              li  
                a.popable(href="#",rel="popover",data-content="dsd",data-original-title="On-the-road Invoicing") Teams and Resources
              li  
                a.popable(href="#",rel="popover",data-content="dsd",data-original-title="On-the-road Invoicing") Clouds & Technology
              li.nav-header Startup Stages
              li
                a.popable(href="#",rel="popover",data-content="dsd",data-original-title="On-the-road Invoicing") Ask For Angles
              li
                a.popable(href="#",rel="popover",data-content="dsd",data-original-title="On-the-road Invoicing") Seed Funding
              li
                a.popable(href="#",rel="popover",data-content="dsd",data-original-title="On-the-road Invoicing") Do we need Invertors?
    
            <br/>
            .btn.btn-primary.btn-large Quit you Job and Code
        .columns.three
          .well.small
            h6.no_padding
              small Solid Software Foundations
            h2.title Open Source
            p 
              strong "I did it by standing on the shoulders of Giants"<br/>
              <em>Newton,Galileo and Einstein</em>
            .nav.nav-list
              li.nav-header Servers
              li
                a.popable(href="#",rel="popover",data-content="",data-original-title="") Rails / Sinatra
              li
                a.popable(href="#",rel="popover",data-content="",data-original-title="") NodeJs

              li.nav-header Databases
              li
                a.popable(href="#",rel="popover",data-content="",data-original-title="") MongoDb

              li
                a.popable(href="#",rel="popover",data-content="",data-original-title="") Redis
              li
                a.popable(href="#",rel="popover",data-content="",data-original-title="") CouchDb
              li.nav-header Frameworks
              li
                a.popable(href="#",rel="popover",data-content="",data-original-title="") Spine
              li
                a.popable(href="#",rel="popover",data-content="",data-original-title="") Express
              li.nav-header Toolkits
                li
                  a.popable(href="#",rel="popover",data-content="",data-original-title="") Zurb Foundation
                li
                  a.popable(href="#",rel="popover",data-content="",data-original-title="") Twitter Bootstrap
            

        .columns.three
          .well.small
            h6.no_padding Putting it all togheter
            h2.title Implementations
            p 
              strong The difference between one thing and the other is the process 
            
            .nav.nav-list
              li.nav-header Enterprise Software
              li
                a.popable(href="#",rel="popover", data-placement="left" , data-content="The simplest implementation is a Force.com out-of-the-box implementation.<h2>Steps:</h2> Define the DataModel and the UI automaticaly generates. Furthur enhancements can be , painfully, developed with apex code and triggers",data-original-title="Force.com") Simple ERP
              li
                a.popable(href="#",rel="popover",data-placement="left" , data-content="Force.com is powerful, but development is slow and tedious. A full ERP stack should include a Integration Hub and a Front-End Application that can even be deployed (login-free) inside Salesforce.com UI. <h2>Steps</h2> Use Sinatra or Rails as an Integration Hub connected to Force.com via Rest API. Handle Workflow operations via Force.com Apex Triggers and display all custom UI's via a Node JS Single Page App connected with CORS to the Integration Hub",data-original-title="Force.com Integrations") Full Featured ERP
              li
                a.popable(href="#",rel="popover",data-placement="left" , data-content="Business Applications must be able to run offline, they should keep updated data and be highly responsive.<h2></h2>",data-original-title="Mobile and Web Apps") Enterprise Apps
        
        
        
        
            