<hr/>
#whatIknow.container
  .row
    .columns.ten.centered
      h1 What do I Know?
      h6 Tecnology related
      <br/>
      .row
        .columns.three
          .well.small
            h2 Single Page Apps
            p
              strong Web Sites that don't refresh
            p Made famous by twitter and facebook, this kind of apps are fast and don't make the user wait between clicks.
            .nav.nav-list
              li.nav-header Features
              li 
                a.popable(href="#",rel="popover",data-content="Web Apps behave like Desktop and Mobile Apps, no need to waiting between clicks, server communications happends is non-blocking and occurs on the background.",data-original-title="Desktop Like") Responsive
              li 
                a.popable(href="#",rel="popover",data-content="Using HTML5 data and other resources can be stores or chached, so that web and mobile apps and be used with out access to the internet",data-original-title="Use them without internet") Offline Access

              li 
                a.popable(href="#",rel="popover",data-content="When you use your app offline, other online can be making changes. In order to keep up with changes, syncronization policies must be developed which , in my opinion, the less automatic the better.",data-original-title="Staying up to date on the road") Syncronization
              li.nav-header Technologies
              li 
                a.popable(href="#",rel="popover",data-content="Spine.js is the corner-stone of the Single Page Apps that I build. Is a lightweight framework developed by awesome hacker Alex Maccaw",data-original-title="Front End Framework") SpineJS
              li 
                a.popable(href="#",rel="popover",data-content="A way to build things, NodeJS is coded (not runned) on the same client side language which makes apps easier to maintain. With NodeJs development tasks are accelerated, so development is accelerated",data-original-title="More than a Server") NodeJS

          
        .columns.three
          .well.small
            h2 Backend Systems
            p
              strong I live in the cloud
            p I am one of those that entered the cloud revolution head first  
            .nav.nav-list
              li.nav-header Services
              li 
                a.popable(href="#",rel="popover",data-content="",data-original-title="") Force.com
              li 
                a.popable(href="#",rel="popover",data-content="",data-original-title="") Heroku
              li 
                a.popable(href="#",rel="popover",data-content="",data-original-title="") Amazon S3
              li.nav-header Frameworks
              li 
                a.popable(href="#",rel="popover",data-content="",data-original-title="") Sixth
              li 
                a.popable(href="#",rel="popover",data-content="",data-original-title="") NodeJs
              li 
                a.popable(href="#",rel="popover",data-content="",data-original-title="") Rails/Sinatra

        .columns.three
          .well.small
            h2.title Database Integration
            p Databases are not a one way data storage road, but part of a workflow that needs careful taught  
            .nav.nav-list
              li.nav-header Technologies
              li 
                a.popable(href="#",rel="popover",data-content="",data-original-title="") Database.com
              li 
                a.popable(href="#",rel="popover",data-content="",data-original-title="") MongoDb
              li 
                a.popable(href="#",rel="popover",data-content="",data-original-title="") Redis
              li.nav-header Frameworks
              li 
                a.popable(href="#",rel="popover",data-content="",data-original-title="") Sixth
              li 
                a.popable(href="#",rel="popover",data-content="",data-original-title="") NodeJs
              li 
                a.popable(href="#",rel="popover",data-content="",data-original-title="") Rails/Sinatra

        .columns.three
          .well.small
            h2 Development
            p
              strong The key is to write less code, write it faster and write is safer
            p Development Enviroments and process are what makes projects stand out.
            p Experienced Stackholders are also key to the development enviroment 
            .nav.nav-list
              li.nav-header Concepts
              li 
                a.popable(href="#",rel="popover",data-content="",data-original-title="") Code Repository
              li 
                a.popable(href="#",rel="popover",data-content="",data-original-title="") Social Coding
              li 
                a.popable(href="#",rel="popover",data-content="",data-original-title="") Test Driven Development            
              li 
                a.popable(href="#",rel="popover",data-content="",data-original-title="") Dependency Managment

            
            
            