<hr/>
#whatIshare.container
  .row
    .columns.ten.centered
      h2.title Latest Posts
      h6 News
      .any(style="width: 100%;overflow: hidden")
        .columns.three
          .well.small
            h2 Code
        .columns.three
          .well.small
            h2 Code
    
    .columns.ten.centered  
      h6 Tutorials
      .any(style="width: 100%;overflow: hidden")
        .columns.three
          .well.small
            h2 Code
        .columns.three
          .well.small
            h2 Code