#intro.container
  .row
    .columns.ten.centered
      .row
        .columns.three
          img.thumbnail(src="images/profile.jpeg")
          h5 Front-End Web Entrepreneur
          h2.title Roberto Rodriguez
    
        .columns.six
          img.ruby_conf(src='images/ruby_conf.jpg').thumbnail
          h5 Talking about Single Page Applications @ RubyConf 
            a(href="#") Watch Video

        .columns.three
          img.thumbnail(src="images/rodco.png")
          h5 Offline Invoicing and Inventories
          h3.title Featured One Page App