html {
  height: 100%;
}
body {
  background-image: url("images/furley_bg.png");
  height: 92%;
  font-familiy: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body .appCanvas {
  padding-bottom: 70px;
}
body .table-total {
  font-size: 15px;
}
body .table-total td {
  text-align: right;
  padding-right: 8px;
}
body .table-total td:last-child {
  font-weight: bold;
}
body a {
  cursor: pointer;
}
body .validatable,
body .editable,
body .loadable {
  width: 90%;
}
body .span12 input,
body .span12 textarea {
  width: 95%;
}
body h1 {
  color: #006391;
}
body h5.preHeader {
  color: #333;
  font-size: 17px;
  line-height: 12px;
}
body hr.double.top {
  margin: 13px 0px 0px 0px;
  border-color: #fff;
}
body hr.double.bottom {
  margin: 0px 0px 13px 0px;
  border-color: #eee;
}
body .well,
body .hero-unit {
  margin-top: 10px;
  background-color: rgba(255,255,255,0.33);
  border: rgba(99,99,99,0.20) 1px dotted;
}
body .well.selected,
body .hero-unit.selected {
  border-color: #f00;
}
body table thead {
  color: #006391;
  border-color: #333;
  text-transform: capitalize;
}
body table td.primary {
  width: 60%;
}
body table td.numeric {
  text-align: center;
}
body table .validatable,
body table .editable,
body table .loadable {
  width: none;
  margin-bottom: 2px;
}
body tabletable-contable thead>tr>th {
  text-align: center;
}
body tabletable-contable tr td {
  text-align: center;
}
body tabletable-contable tr td:first-child {
  text-align: left;
}
body tabletable-contable tr td:last-child {
  text-align: right;
}
body .btn.save {
  padding: 8px 30px;
}
body .btn.cancel {
  padding: 8px 30px;
  float: left;
}
.toolbar {
  width: 100%;
  height: 45px;
  border-radius: 4px;
  border-color: #d5d5d5;
  border-width: 0 0 1px;
/* drop the border on the fixed edges */
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,0.10);
  -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,0.10);
  box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,0.10);
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 900;
}
.toolbar .nav {
  margin-bottom: 0px;
}
.toolbar .label {
  line-height: 30px;
}
.toolbar .input_wrapper {
  padding-left: 70px;
}
.toolbar .productos_list {
  margin-top: 2px;
  margin-left: 70px;
  max-height: 390px;
  overflow-y: scroll;
  background-color: #fff;
  border: 2px solid #049cdb;
  z-index: 0;
}
.toolbar .productos_list li {
  cursor: pointer;
  border: 1px solid #dee;
  width: 270px;
}
.toolbar .productos_list li a {
  text-transform: capitalize;
  height: 35px;
}
.toolbar .productos_list li.active {
  background-color: #08c;
}
.toolbar .productos_list li.active a {
  color: #fff;
}
.action_footer .modal-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.action_footer .modal-footer .btn.last {
  float: left;
}
.action_footer .modal-footer .btn.next {
  float: right;
}
.clientes {
  position: relative;
}
.clientes .clientes_list {
  max-height: 150px;
  overflow-y: scroll;
  background-color: #fff;
  position: absolute;
  top: 27px;
  left: 4px;
  z-index: 66;
  border: 1px solid #ccc;
  width: 90%;
}
.clientes .clientes_list li {
  cursor: pointer;
  height: 50px;
  border-bottom: 1px solid #ded;
  width: 50%;
}
.clientes .clientes_list li.active {
  background-color: #08c;
}
.clientes .clientes_list li.active a {
  color: #fff;
}
.clientes .clientes_list li a {
  text-transform: capitalize;
}
.proveedores {
  position: relative;
}
.proveedores .proveedores_list {
  max-height: 290px;
  overflow-y: scroll;
  background-color: #fff;
  position: absolute;
  top: 27px;
  left: 4px;
  z-index: 66;
  border: 1px solid #ccc;
  width: 100%;
}
.proveedores .proveedores_list li {
  cursor: pointer;
  height: 40px;
  border-bottom: 1px solid #dee;
}
.proveedores .proveedores_list li.active {
  background-color: #08c;
}
.proveedores .proveedores_list li.active a {
  color: #fff;
}
.proveedores .proveedores_list li a {
  text-transform: capitalize;
}
.listable .list_item {
  opacity: 0.3;
}
.listable .list_item.active {
  opacity: 1;
}
.lightbox {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(33,33,33,0.20);
  z-index: 2000;
  display: none;
  top: 0;
  left: 0;
}
.lightbox .modal .alert-box {
  display: none;
}
.lightbox .modal .show_on_error {
  display: none;
}
.lightbox .modal .show_on_loading {
  display: none;
}
.lightbox .modal .show_on_input {
  display: block;
}
.lightbox .modal.loading .show_on_loading {
  display: none;
}
.lightbox .modal.loading .show_on_input {
  display: none;
}
.lightbox .modal.error {
  border: 2px solid #f00;
}
.lightbox .modal.error .show_on_error {
  display: block;
}
.lightbox .modal.error .alert-box {
  display: block;
}
@media (min-width: 900px) {
  body {
    padding-top: 120px;
  }
}
@media (max-width: 940px) {
  .appCanvas {
    padding-top: 40px;
  }
  .toolbar {
    width: 100%;
    height: 45px;
    position: absolute;
    border-radius: 4px;
    border-color: #d5d5d5;
    border-width: 0 0 1px;
/* drop the border on the fixed edges */
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #dfdfdf;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,0.10);
    -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,0.10);
    box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,0.10);
    z-index: 900;
  }
  .toolbar .input_wrapper {
    margin-top: 2px;
    padding-left: 10px;
    width: 95%;
  }
}
@media print {
  body {
    padding-top: 0px;
    background: none;
    background-color: #fff;
  }
  body .navbar,
  body .action_footer {
    display: none;
  }
}
