.action_footer .modal-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 8px 15px;
  
  .save,.send{
    float:right;
    padding: 8px 11px;
  }
  
  .cancel{
    float: left;
    padding: 8px 11px;
  }
  
}
