.action_footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px;
  z-index: 1040;

  .modal-footer{
    padding: 8px;
  }

  .save,.send{
    float:right;
    padding: 8px 11px;
  }
  
  .cancel{
    float: left;
    padding: 8px 11px;
  }
  
}
