footer{

  .navbar-inner{
    background: none;
    .buttonBackground(@btnBackground, @btnBackgroundHighlight);
    border-top: #ddd;
    padding-bottom: 5px;
  }

  a{
    margin-top: 15px;
    color: @blue;
    i{
      vertical-align: middle; 
      font-size: 30px;
    }
  }
}