header{

 .navbar-inner{ 
  padding: 0px 0px;
    background-image: url("/images/furley_bg.png");
  }

  .headerWrapper{
    text-align: center;
    
    input{
      color: @blueDark;
      margin-top: 12px;
      background-color: #fff;
      display: inline-block;
      padding: 7px 13px;
      .border-radius(25px);
    }
  }

  .productIcon{
    font-size: 25px;
    vertical-align: middle;
    color: #666;
    margin-right: 5%;
  }
  
  .navbar .brand {
    vertical-align:top;
    padding: 0px;
    font-size: 50px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(33,33,33,.65);
    vertical-align: baseline;
    img{
      vertical-align:top;
      height: 50px;
      margin-top: 2px;
      cursor: pointer;
      margin-bottom: 2px;
    }
  }
  
  .nav{
  
  
    .toSalesforce{
      margin-top: 8px;
      color: @blue !important; 
    }
    
    .actionButtons{
      padding-top: 10px;
      a{
        color: #fff;
        display: inline-block;
        margin: 0px;
        padding-right: 0px;

        &:hover{
          color: @red;
          text-decoration: none;
        }
        i{
          font-size: 20px; 
          width: auto;
          &.active{
            color: @red;
          }
          &.loading{
            -webkit-animation-name:             loading; 
            -webkit-animation-duration:         0.85s; 
            -webkit-animation-iteration-count:  infinite;
            -webkit-transition-timing-function: linear;
            color: @orange;
          }      
        }
      }
    }
  
    .dropdown{
      .userWrapper{
        max-height: 350px;
        width: 200px;
        overflow-y: scroll;
      }
      
      .currentUser{
        img{
          width: 36px;
          height: 36px;
        }
      }
      
      .users{
        li{
          img{
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
}





@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

@media (max-width: 480px){
  .navbar .brand {
    img{
      margin-left: 10px;
      width: 100%;
      width: 95px;
    }
  }
}