@blueRodco: #3D5C95;
@redRodco: #EF4034;

.invoice{
  position: relative;
  -webkit-print-color-adjust: exact;
  

  .original{
    height: 890px;
    
    .show_on_copy{
      display: none !important;
    }
    
    .logoInfo{
      color: #666;
      strong{
        color: #555;
      }
    }
    
    .invoiceHeader{
      .factura{
        .fecha{color: #555;}
        .facturaLabel{color: @redRodco;}
        .number{color: @redRodco;}
      }
    }  

    .cliente .block{
      .name{color: @redRodco;}
      .address{     color: @blueRodco;}
      .order{     color: @blueRodco;}
      .tel{     color: @blueRodco;}
    }

    .credito{
     .dia{color: @redRodco;}
     .mes{color: #fff;} 
      .venceLabel{color: #666 !important;}
      .montoLabel{color: #666 !important;}
      .monto{ color: @blueRodco; }
    }
    
    .productos{
      th {border-bottom: 2px solid @redRodco;}
    }
    
    .transporte{
      border-color: @blueRodco;
     .transportadoPor{ color: #666 !important; }
      .observaciones{  color: #666 !important; }
    }
    
    .firma{
      background-color: #E5E7F0 !important;
      color: #333 !important;
      .legend{
        color: @blueRodco;
      }
      
    }
    
    .totales{
      .gracias{
        color: @redRodco;
      }

      .total{
        background-color: @blueRodco !important;
        color: #fff !important;
      }
    }
    
    .invoiceFooter{
      .legend{color: #555 !important;}
      .auth{ color: #666 !important;}
      .consecutivo{ color: @redRodco;}
      .detalles{ color: @redRodco;}

      
      div{
        p{color: #333}
        .title{color: #555;}
      }
    }
  }
  .copy{
    height: 880px;  
    color: #000;
    
    &:last-child{
      height: 809px;
    }
    
    .hide_on_copy{
      display: none;
    }
    
    .show_on_copy{
      display: inline-block;
    }
    
    .logoInfo{
      color: #000;
      strong{
        color: #000;
      }
    }
    
    .credito{
      padding-top: 42px;
      .calendar{ position: static; }
     .dia{top:24px;right:-33px}
     .mes{top:5px;right:-36px;font-weight: 600; }
     .monto{
        color: #000;
      }
    } 
    
    .totales{
      &.total{
        padding: 0px;
        font-weight: 900;
      }
    }
    
    .transporte{
      
    } 
    
    .firma{
      border: 1px solid #000;
      background-color: none;
      
    }
    
    
    
  }
  
  .red{
    color: #EF4034;
  }
  
  .blue{
    color: #3D5C95;
  }
  
  .grey{
    color: #939597;
  }

  .invoiceHeader{
    margin-bottom: 50px;
    .logo{
      width: 50%;
      display: inline-block;
      vertical-align: top;
      img{
        vertical-align: top;
        width: 209px;
      }
    }
  
    .logoInfo{
      width: 151px;
      font-size: 10px;
      line-height: 10px;
      position: absolute;
      left: 245px;
      top: 19px;
      display: inline-block;
      vertical-align: top;
      span{
        display: block;
        font-weight: 200;
        strong{
          font-weight: 400;
        }
      }
    }
  
    .factura{
      vertical-align: top;
      display: inline-block;
      width: 49%;
      text-align: right;
      span{display: block;}
    
      .fecha{
        font-size: 16px;
      }
      .facturaLabel{
        font-size: 39px;
        line-height: 36px;
        font-weight: 800;
      }
      .number{
        text-transform: uppercase;
        font-size: 19px;
        font-weight: 400;
      }

    }
  }  
  
  .cliente{
    width: 76%;
    display: inline-block;
    span{ display:block; line-height: 13px;font-size: 14px;}
    img{
      display: inline-block;
      vertical-align: top;
      position: relative;
      top: -2px;
    }
    .block{
      vertical-align: top;
      display: inline-block;
      width: 90%;
      height: 63px;
      overflow-y: hidden;
      .name{
        font-size: 20px;
        line-height: 20px;
        text-transform: capitalize;
        font-weight: 400;
      }
      .address{
        font-size: 13px;
        font-weight: 200;
        line-height: 15px;
        height: 13px;
        overflow: hidden;
      }
      .order{
        font-size: 14px;
        font-weight: 200;
        line-height: 15px;
      }
      .tel{
        font-size: 14px;
        font-weight: 200;
        line-height: 15px;
      }
    }
  }
  
  .credito{
    display: inline-block;
    text-align: right;
    text-align: center;
    float: right;
    position: relative;
    top: -35px;
    
    .calendar{
      position: relative;
      width: 96px;
      margin-right: auto;
      margin-left: auto;
    }
    
    .venceLabel{
      font-size: 17px;
      display: block; 
      text-align: center;   
    }
    
    .dia{
      position: absolute;
      top: 38px;
      right: 35px;
      font-size: 21px;
    }
    .mes{
      position: absolute;  
      top: 18px;
      right: 31px;
      font-weight: 200;  
      text-transform: uppercase;
      z-index: 100;
      font-size: 15px;
    }

    img{
      display: inline-block;
      vertical-align: top;
      margin-top: 1px;
      vertical-align: middle;
    }

      .monto{
        display: block;
        font-size: 23px;
        margin-top: 2px;
        padding-top: 1px;
        
        &.montoLabel{
          display: inline-block;
          font-size: 17px;
        }
    }
  }
  
  .productosPlaceHolder{
    height: 380px; 
    margin-top: 30px;
     
  }
  .productos{
    width: 100%;
    td{text-align: left;}
    th{text-align: left;}
    th{border-bottom: 2px solid #000;}
    tr{ height: 25px; }
    .codigo{width: 10%; text-align: left;}
    .cantidad{width: 12%;}
    .descripcion{width: 52%;}
    .precio{width: 10%;}
    .descuento{width: 6%; text-align: center}
    .total{width: 10%; text-align: right;}
  }
  
  .transporte{
    width: 72%;
    margin-top: 7px;
    margin-right: 10px;
    border-top: #000 1px solid; 
    padding-top: 4px;
    display: inline-block;
    vertical-align: top;
    img{ float: left; margin-right: 8px; display: inline-block; width: 68px; }
    .transportadoPor{ font-size: 15px ;padding-top: 4px;}
    .observaciones{ font-size: 15px; }
  }
  
  .totales{
      width: 26%;
      float: right;
      display: inline-block;
      vertical-align: top;
      p{
        margin-bottom: 1px;
        .number{
          display: inline-block;
          text-align: right;
          float: right;
          padding: 0px 5px;
        }

        &.gracias{
          font-size: 17px;
          text-transform: uppercase;
          margin-top: 4px;
          text-align: center;
        }

        &.total{
          padding: 4px 0px;
          font-size: 15px;
          font-weight: 400px;
        }
      }
  }
  
  .firma{
    display: block !important;
    width: auto !important;
    padding: 9px 5px 0px 14px;
    margin: 0px;
    margin-bottom: 6px;
    .nombre{ text-transform: uppercase; }
    .cedula{ float: right; margin-right: 100px; display: inline-block;text-transform: uppercase; }
  
    .auth{ 
      font-size: 9px; 
      text-align: right; 
      margin: 0px; 
      padding: 0px;
      font-weight: 400; 
      line-height: 10px;
      position: relative;
      top: -3px;
    }
 
  }
  
  .invoiceFooter{
    page-break-after: always;
    left: auto;
    right: auto;
    font-size: 11px;
    margin-top: 125px;

    .legend{
      font-size: 7px;
      margin: 0px;
      line-height: 8px;
      font-weight: 400;
    }
    

    
    div{
      vertical-align: top;
      display: inline-block;
      width: 22%;
      p{
        margin: 0px;
        font-size: 11px;
        line-height: 13px;
        padding: 0px;
        font-weight: 200;
      }
      .title{
        font-weight: 400;
      }
      
      &.last{
       width: 29%;
       position: absolute;
       right: 0px;
       p{
        text-align: right;
       }
       .consecutivo{
        font-size: 16px;
        display: block;
        font-weight: 400;
       }
       
       .detalles{
          font-size: 13px;
          font-weight: 200;
       }
       
       .reciclado{
          width: 145px;
          float: right;
          span{ 
            display: inline-block;
            color: #9ABD3B;
            line-height: 11px;
            font-size: 9px;
            text-align: center; 
          }
       
         .imageMask{
          display: inline-block;
          height: 13px;
          width: 28px;
          overflow: hidden;
         }
       
         img{
          height: 34px;
         }

       }
       
      }
    
    }
    
  }
  
}