
.menu{
  
  
  .appList{
    border-bottom: 1px solid #efefef;
    &:last-child{
      border: none;
    }
  }
  
  .menuContainer{
    border-right: 1px solid #efefef;
  }

  li{
    border: none;
    height: 70px;
    width: 75px;
    text-align: center;
    cursor: pointer;
    float: left;
    margin: 14px 10px 7px 10px;
    
    &:hover{
      >* {
      color: @blue;
     }
    }
    
    i{
      font-size: 26px;
      color: #454545;
    }
    span{
      font-size: 16px;
      font-weight: 200;
      display: block;
      max-width: 100px;
    }
    
    &.header{
      background-color: #555;
      color: #fff;
      margin: 0px;
      width: 120px;
      height: 60px;
      margin-right: 15px;
      margin-top: 10px;
      .border-radius(10px);
      h4{
        padding-top: 20px;
        font-weight: 200;
      }
      &:hover{
        h4{
          color: #fff;
        }
      
      }
    }
    
   
  }


}