
.menu{


  li{
    border: none;
    height: 100px;
    width: 120px;
    text-align: center;
    cursor: pointer;
    &.header{
      background-color: #333;
      color: #fff;
      h4{
        padding-top: 40px;
        font-weight: 200;
      }
    }
    i{
      font-size: 30px;
      color: #454545;
    }
    span{
      font-size: 18px;
      font-weight: 200;
      display: block;
      max-width: 100px;
    }
   
    &:hover{
      >* {
      color: @red;
     }
    }
   
  }


}