.proveedores {
  position: relative;
}
.proveedores .proveedores_list {
  max-height: 290px;
  overflow-y: scroll;
  background-color: #fff;
  position: absolute;
  top: 27px;
  left: 4px;
  z-index: 66;
  border: 1px solid #ccc;
  width: 100%;
}
.proveedores .proveedores_list li {
  cursor: pointer;
  height: 40px;
  border-bottom: 1px solid #dee;
}
.proveedores .proveedores_list li.active {
  background-color: #08c;
}
.proveedores .proveedores_list li.active a {
  color: #fff;
}
.proveedores .proveedores_list li a {
  text-transform: capitalize;
}