.show_print{
  display: none;
}

@media print {
  .pageBreakAfter{
    page-break-after: always;
  }
  
  
  body{
    margin: 0px;
    padding: 0px;
    max-width: 800px;
    background: none;

    -webkit-print-color-adjust: exact;
    
    header,footer{
      display: none;
    }
    
    img{
      border: none !important;
      outline: none !important;
    }
  }

  body {
    padding-top: 0px;
    background: none;
    background-color: #fff;
  }
  
  body .navbar,
  body .action_footer {
    display: none;
  }

  .table-striped {
    tbody {
      tr:nth-child(odd) td,
      tr:nth-child(odd) th {
        background-color: none;
      }
    }
  }
  
  .show_print{
    display: block;
  }
  
  .hide_print {
    display:none;
  }
  
  .action_footer , .hide_on_print {
    display: none;
  }
  
}