@media print {
  body{
    margin: 0px;
    padding: 0px;
    max-width: 800px;
    background: none;
    header{
    display: none;
  }
    
  table,tr,td{
      border: none;
    }
  }
  
  .table-striped {
    tbody {
      tr:nth-child(odd) td,
      tr:nth-child(odd) th {
        background-color: none;
      }
    }
  }
  
  .hide_print {
    display:none;
  }
  
  .action_footer , .hide_on_print{
    display: none;
  }
  
}